/* Provide sufficient contrast against white background */
body {
  height: 100vh;
  background-color: whitesmoke; }

#root {
  height: 100%; }

.card {
  width: 250px; }

#topbar {
  padding-bottom: 50px !important; }

#main {
  position: relative;
  margin-top: -40px;
  z-index: 2;
  background-color: whitesmoke;
  box-shadow: 0px 20px 20px 0px gray;
  padding-bottom: 40px; }

@media screen and (min-width: 575px) {
  #topbar form {
    margin-left: auto; }
  #reviewsPane {
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll; } }

.carousel-control-next, .carousel-control-prev {
  display: block;
  bottom: 0;
  top: 90%;
  opacity: 1;
  position: absolute; }
